
#hint{
	width: 150px;
    height: 100px;
    animation-name: fadeIn;
    animation-duration: 1s;
    -webkit-animation-fill-mode:forwards; 
    -moz-animation-fill-mode:forwards; 
    -o-animation-fill-mode:forwards; 
    -ms-animation-fill-mode:forwards; 
   	animation-fill-mode:forwards;
}

@-webkit-keyframes fadeIn {
	from { -webkit-opacity: 0; }
	to { -webkit-opacity: 1; }
}